{%- if section.settings.image_desktop != blank -%}
  {%- assign image_desktop = section.settings.image_desktop | image_url -%}

  {%-
    render 'image',
    image: image_desktop,
    loading: 'lazy',
    width: '1440',
    class: 'absolute top-0 left-0 w-full object-cover object-center'
  -%}
{%- endif -%}

<section
  data-section='password'
  class='container password relative h-full py-60'
>

  <div class="password__wrapper flex w-full h-full justify-center items-center">
    {%- form 'storefront_password', class: 'password__form h-full max-w-lg mx-auto w-full' -%}
      <div class="password-field field{% if form.errors %} password__field--error{% endif %} input-wrapper relative border-coloring flex gap-5">
        <input
          type="password"
          name="password"
          id="Password"
          class="password__field bg-white font-futura-pt uppercase text-14 leading-17.9 flex w-full max-h-49 bg-transparent pl-2 border"
          autocomplete="current-password"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="PasswordLoginForm-password-error"
          {%- endif -%}
          placeholder="Enter password"
        >
        <button name="commit" class="default-button">
          <div class="default-button__wrapper">Login</div>
        </button>
      </div>
      {%- if form.errors -%}
        <div role="status" class="flex items-center mt-4 gap-1 text-red-700">
          <span class="form__message flex items-center gap-2">Error</span>
        </div>
      {%- endif -%}
    {%- endform -%}
  </div>
</section>

{% schema %}
  {
    "name": "Password",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (Mobile)"
      }
    ]
  }
{% endschema %}